body {background-color: white;
color: #555555}
h1 {background-color: #002171;
color:white;
margin-bottom: 0}
nav {background-color: #bbdefb}
h2 {color:#1976d2}
dt {color: #002171}
.companyname {color: #1976d2}